venv/
.idea

/.eggs
/build
/dist
/MANIFEST
.python-version
*.pyc
*.egg
*.class

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
htmlcov/

# sphinx build and rst folder
docs/_build
docs/build
docs/source/_rst
